{% extends 'HasheadoBlogBundle::layout.html.twig' %}

{% block content %}
	
	<section>

		<h1>Archive {{ year }} {{ month }}</h1>

		{% if posts|length > 0 %}
			
			{% for post in posts %}
				<article>
					<header>
						<h2>
							<a href="{{ path('hasheado_blog_post_detail', { 'slug': post.slug }) }}">{{ post.title }}</a>
						</h2>
						<p>Posted on
							<time datetime="{{ post.publishedAt.format('c') }}">{{ post.publishedAt.format('F jS Y') }}</time> -
							<a href="{{ path('hasheado_blog_post_detail', { 'slug': post.slug }) }}#comments">{{ post.comments|length }} comments</a>
						</p>
					</header>
					<p>{{ post.content|raw }}</p>
				</article>
			{% endfor %}

		{% else %}
			<p>No posts found.</p>
		{% endif %}

	</section>

{% endblock %}