{% set edit_mode = (form.vars.value.id != null)? true : false %}
{% set action_route = (edit_mode)? path('hasheado_blog_admin_comment_edit', { 'id': comment_id }) : path('hasheado_blog_admin_comment_add') %}
<form action="{{ action_route }}" method="POST" class="form-horizontal">
	{{ form_errors(form) }}

	<div class="control-group {% if form.userEmail.vars.errors|length %}error{% endif %}">
	    {{ form_label(form.userEmail, 'User email', { 'label_attr': {'class': 'control-label'} }) }}
	    <div class="controls">
	    	{{ form_widget(form.userEmail) }}
	    	{{ form_errors(form.userEmail) }}
	    </div>
	</div>

	<div class="control-group {% if form.userName.vars.errors|length %}error{% endif %}">
	    {{ form_label(form.userName, 'User name', { 'label_attr': {'class': 'control-label'} }) }}
	    <div class="controls">
	    	{{ form_widget(form.userName) }}
	    	{{ form_errors(form.userName) }}
		</div>
	</div>

	<div class="control-group {% if form.web.vars.errors|length %}error{% endif %}">
	    {{ form_label(form.web, 'Web site', { 'label_attr': {'class': 'control-label'} }) }}
	    <div class="controls">
	    	{{ form_widget(form.web) }}
	    	{{ form_errors(form.web) }}
	    </div>
	</div>

	<div class="control-group {% if form.post.vars.errors|length %}error{% endif %}">
	    {{ form_label(form.post, 'Post', { 'label_attr': {'class': 'control-label'} }) }}
	    <div class="controls">
	    	{{ form_widget(form.post) }}
	    	{{ form_errors(form.post) }}
	    </div>
	</div>

	<div class="control-group {% if form.content.vars.errors|length %}error{% endif %}">
	    {{ form_label(form.content, 'Content', { 'label_attr': {'class': 'control-label'} }) }}
	    <div class="controls">
	    	{{ form_widget(form.content) }}
	    	{{ form_errors(form.content) }}
	    </div>
	</div>

	<div class="control-group {% if form.isAccepted.vars.errors|length %}error{% endif %}">
	    {{ form_label(form.isAccepted, 'Accepted?', { 'label_attr': {'class': 'control-label'} }) }}
	    <div class="controls">
	    	{{ form_widget(form.isAccepted) }}
	    	{{ form_errors(form.isAccepted) }}
	    </div>
	</div>

	{{ form_rest(form) }}

	<div class="form-actions">
		{% set btn_label = (edit_mode)? 'Edit' : 'Add' %}
		<input class="btn btn-primary" type="submit" name="submit_button" value="{{ btn_label }}" />
		<a class="btn" href="{{ path('hasheado_blog_admin_comment_list') }}">Cancel</a>
		{% if (edit_mode) %}
			<a class="btn btn-danger" href="{{ path('hasheado_blog_admin_comment_delete', { 'id': comment_id }) }}">Delete</a>
		{% endif %}
	</div>
</form>