{% extends 'HasheadoBlogBundle::admin_layout.html.twig' %}
{% block content %}
	<h1>Comments List</h1>

	<table>
		<thead>
			<tr>
				<th>
					<a href="{{ path('hasheado_blog_admin_comment_filter', { 'field': 'id', 'mode': sort_mode_reverse }) }}" title="Sort by Id">Id</a>
				</th>
				<th>Post</th>
				<th>
					<a href="{{ path('hasheado_blog_admin_comment_filter', { 'field': 'userEmail', 'mode': sort_mode_reverse }) }}" title="Sort by User Email">User Email</a>
				</th>
				<th>Content</th>
				<th>Accepted</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% if comments|length > 0 %}
	            {% for comment in comments %}
	                <tr>
	                    <td>{{ comment.id }}</td>
	                    <td>{{ comment.post }}</td>
	                    <td>{{ comment.userEmail }}</td>
	                    <td>{{ comment.content }}</td>
	                    <td>{{ comment.isAccepted }}</td>
	                    <td>
	                    	<a href="{{ path('hasheado_blog_admin_comment_edit', { 'id': comment.id }) }}">Edit</a> &nbsp;&nbsp;
	                    	<a href="{{ path('hasheado_blog_admin_comment_delete', { 'id': comment.id }) }}">Delete</a>
	                    </td>
	                </tr>
	            {% endfor %}
	        {% else %}
	            <tr>
	                <td colspan="6">No results.</td>
	            </tr>
	        {% endif %}
		</tbody>
	</table>
	<a href="{{ path('hasheado_blog_admin_comment_add') }}">Add new Comment</a>

	{% include 'HasheadoBlogBundle:Admin/Default:paginator.html.twig' %}
{% endblock %}