{% if paginator.have_to_paginate %}
    <div class="pagination pagination-right">
        <span>Showing {{ paginator.offset }} to {{ paginator.until }} of {{ paginator.total }}</span>
        <ul>
            {% set prev_disabled = (paginator.page > 1)? null : 'disabled' %}
            {% set prev_link = (paginator.page > 1)? path(paginator.route, { 'page': paginator.left }) : 'javascript:void(0);' %}
            <li class="prev {{ prev_disabled }}">
                <a href="{{ prev_link }}"> &lt; Previous</a>
            </li>
            {% for i in paginator.pages_to_show.init..paginator.pages_to_show.end %}
                <li {% if paginator.page == i %} class="active" {% endif %}>
                    {% if paginator.page == i %}
                        <a href="{{ path(paginator.route, { 'page': i }) }}">{{ i }}</a>
                    {% else %}
                        <a href="{{ path(paginator.route, { 'page': i }) }}">{{ i }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            {% set next_disabled = (paginator.page != paginator.num_pages)? null : 'disabled' %}
            {% set next_link = (paginator.page != paginator.num_pages)? path(paginator.route, { 'page': paginator.right }) : 'javascript:void(0);' %}
            <li class="next {{ next_disabled }}">
                <a href="{{ next_link }}">Next &gt;</a>
            </li>
        </ul>
    </div>
{% endif %}